//LOGO

.logo {
    width: 100px;
    height: 100px;
    top: 40px;
    left: 40px;
}

//NAV

.burger-btn {
    top: 40px;
    right: 40px;
}

//HEADER

.header {
    &__box-one {
        &__title {
            font-size: 7.2rem;
        }

        &__text {
            font-size: 3.4rem;
        }
    }

    &__box-two {
        bottom: 70px;
    }
}

//ABOUT

.about {
    &__title {
        font-size: 4.4rem;
    }

    &__wrapper {
        flex-wrap: nowrap;
        padding: 3em 1.6em;

        &__text {
            padding-top: 3.4em;
            padding-right: 3em;

            &__one {
                font-size: 3rem;
            }

            &__two {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        &__img {
            padding-top: 0;
            width: 400px;
        }
    }
}

.technologies {
    &__title {
        font-size: 4.4rem;
    }
}

// PORTFOLIO

.portfolio {
    &__title {
        font-size: 4.4rem;
    }

    &__container {
        padding-bottom: 10em;

        &__left-box {
            margin-bottom: 10em;
            width: 990px;
            height: 500px;
            flex-wrap: nowrap;
            flex-direction: row;

            &__image {
                &__link {
                    &__img-lg {
                        position: absolute;
                        top: 0;
                        left: -70px;
                        width: 500px;
                        height: 350px;
                    }
                }
            }

            &__content {
                position: absolute;
                bottom: -70px;
                right: -70px;
                width: 500px;
                height: 350px;
            }

        }
    }
}

//CONTACT

.contact {
    &__title {
        font-size: 4.4rem;
    }

    &__container {
        margin-top: 6em;

        &__box {
            flex-direction: row;

            &__forms {
                padding-right: 2em;
                max-width: 400px;
                // background-color: tomato;
            }

            &__image {
                margin: 0 0 4em 2em;
                max-width: 380px;

                &__heading {
                    padding: 1.2em 0;
                    font-size: 3.4rem;
                }

                &__text {

                    &__content {
                        padding: 1.4em 0;
                    }
                }
            }
        }
    }
}

//-------MEDIA-------

@media (min-width: 1030px) {
    .about {
        &__wrapper {
            flex-wrap: nowrap;
            padding: 3em 1.6em;

            &__text {
                padding: 3.4em 3em 0;
            }
        }
    }
}

@media (min-width: 1100px) {
    .portfolio {
        &__container {
            &__left-box {
                &__image {
                    &__link {
                        &__img-lg {
                            left: -50px;
                        }
                    }
                }

                &__content {
                    bottom: -70px;
                    right: -50px;
                }
            }
        }
    }

    .contact {
        &__container {
            margin-top: 7em;

            &__box {

                &__forms {
                    padding-right: 2em;
                    max-width: 420px;
                    // background-color: tomato;
                }

                &__image {
                    margin: 0 0 4em 3em;
                    max-width: 380px;
                }
            }
        }
    }
}

@media (min-width: 1130px) {
    .about {
        &__wrapper {
            &__text {
                padding-top: 5em;
            }

            &__img {
                width: 100%;
            }
        }
    }

    .technologies {
        &__wrapper {
            &__container {

                &__icon {
                    padding: .4em .7em;
                    font-size: 11.6rem;
                }
            }
        }
    }
}

@media (min-width: 1160px) {
    .portfolio {
        &__container {
            &__left-box {
                &__image {
                    &__link {
                        &__img-lg {
                            width: 550px;
                            height: 370px;
                            left: -70px;
                        }
                    }
                }

                &__content {
                    width: 550px;
                    height: 370px;
                    right: -70px;

                    &__title {
                        font-size: 3.6rem;
                    }

                    &__text {
                        font-size: 2rem;
                    }

                    &__btn {
                        width: 180px;
                        padding: .6em 2em;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1230px) {
    .portfolio {
        &__container {
            &__left-box {
                &__image {
                    &__link {
                        &__img-lg {
                            left: -40px;
                        }
                    }
                }

                &__content {
                    right: -40px;
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    .contact {
        &__container {
            &__box {
                &__forms {
                    padding-right: 2.4em;
                    max-width: 500px;
                    // background-color: tomato;
                }

                &__image {
                    margin: 0 0 5em 4em;
                    max-width: 400px;
                }
            }
        }
    }
}

@media (min-width: 1330px) {
    .about {
        &__wrapper {
            padding: 3.4em 2em;

            &__text {
                &__one {
                    font-size: 3.6rem;
                }

                &__two {
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                }
            }
        }
    }

    .portfolio {
        &__container {
            &__left-box {
                &__image {
                    &__link {
                        &__img-lg {
                            left: -15px;
                        }
                    }
                }

                &__content {
                    right: -15px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .about {
        &__wrapper {
            padding: 3.4em 4em;
        }
    }

    .technologies {
        &__wrapper {
            &__container {

                &__icon {
                    padding: .4em .9em;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .about {
        &__wrapper {
            padding: 3.4em 6em;
        }
    }

    .contact {
        &__container {
            &__box {

                &__image {
                    margin: 0 0 5.4em 4em;
                    max-width: 420px;
                }
            }
        }
    }
}

@media (min-width: 1700px) {
    .about {
        &__wrapper {
            padding: 3.4em 8em;
        }
    }
}

@media (min-width: 1800px) {
    .about {
        &__wrapper {
            padding: 3.4em 10em;
        }
    }
}