//LOGO

.logo {
    left: 35px;
}

//HEADER

.header {
    &__box-one {
        &__title {
            font-size: 6rem;
        }

        &__text {
            font-size: 3rem;
        }
    }

    &__box-two {
        .fab {
            letter-spacing: .5em;
            font-size: 3rem;
        }
    }
}

//ABOUT

.about {
    &__title {
        font-size: 4rem;
    }

    &__wrapper {
        padding-bottom: 5em;

        &__text {
            &__one {
                font-size: 2.8rem;
            }

            &__two {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        &__img {
            width: 500px;
        }
    }
}

.technologies {
    &__title {
        padding-top: 2.2em;
        font-size: 4rem;
    }
}

// PORTFOLIO

.portfolio {
    &__title {
        font-size: 4rem;
    }

    &__container {
        &__left-box {
            max-width: 75%;
        }
    }
}

//CONTACT

.contact {
    &__title {
        font-size: 4rem;
    }
}

//-------MEDIA-------

@media (min-width: 890px) {

    .logo {
        width: 90px;
        height: 90px;
        left: 35px;
    }

    .header {
        &__box-one {
            &__title {
                font-size: 6.6rem;
            }

            &__text {
                font-size: 3.2rem;
            }
        }
    }

    .technologies {
        &__wrapper {
            padding: 4em 1em;

            &__container {
                width: 90vw;

                &__icon {
                    padding: .4em .5em;
                    font-size: 11.4rem;
                }
            }
        }
    }
}