//HEADER
.header {
    &__box-one {
        &__title {
            font-size: 5rem;
        }

        &__text {
            font-size: 2.6rem;
        }
    }

    &__img-md {
        display: none;
    }

    &__img-big {
        display: block;
        position: absolute;
        height: 100%;
        right: 40px;
        bottom: 0;
        z-index: -10;
    }
}

//ABOUT

.about {
    &__title {
        font-size: 3.8rem;
    }

    &__wrapper {
        padding: 0 5em;

        &__text {
            &__two {
                font-size: 1.8rem;
            }
        }

        &__img {
            width: 420px;
        }
    }

}

.technologies {
    &__title {
        font-size: 3.8rem;
    }

    &__wrapper {
        &__container {
            width: 100vw;

            &__icon {
                padding: .2em .2em;
                font-size: 10rem;
            }
        }
    }
}

//PORTFOLIO

.portfolio {
    &__title {
        font-size: 3.8rem;
    }
}

//--------MEDIA--------

@media (min-width: 680px) {
    .header {
        &__box-one {
            &__title {
                font-size: 5.4rem;
            }

            &__text {
                font-size: 2.8rem;
            }
        }
    }

    .technologies {
        &__title {
            font-size: 3.8rem;
        }

        &__wrapper {
            &__container {
                width: 100vw;

                &__icon {
                    padding: .3em;
                    font-size: 11rem;
                }
            }
        }
    }
}