//HEADER
.header {
    &__box-one {
        &__title {
            font-size: 5rem;
        }

        &__text {
            font-size: 2.6rem;
        }
    }

    &__img {
        right: 40px;
    }
}

//--------MEDIA--------

@media (min-width: 680px) {
    .header {
        &__box-one {
            &__title {
                font-size: 5.4rem;
            }

            &__text {
                font-size: 2.8rem;
            }
        }
    }
}