//HEADER
.header {
    &__box-one {
        &__title {
            font-size: 5rem;
        }

        &__text {
            font-size: 2.6rem;
        }
    }

    &__img-md {
        display: none;
    }

    &__img-big {
        display: block;
        position: absolute;
        height: 100%;
        right: 40px;
        bottom: 0;
        z-index: -10;
    }
}

//ABOUT

.about {
    &__title {
        font-size: 3.8rem;
    }

    &__wrapper {
        padding: 0 5em;

        &__text {
            &__two {
                font-size: 1.8rem;
            }
        }

        &__img {
            width: 420px;
        }
    }

}

.technologies {
    &__title {
        font-size: 3.8rem;
    }

    &__wrapper {
        &__container {
            width: 100vw;

            &__icon {
                padding: .2em .2em;
                font-size: 10rem;
            }
        }
    }
}

//PORTFOLIO

.portfolio {
    &__title {
        font-size: 3.8rem;
    }

    &__container {
        &__left-box {
            max-width: 80%;

            &__image {
                &__link {
                    &__img {
                        display: none;
                    }

                    &__img-lg {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }

            &__content {

                &__title {
                    padding: 1.2em 1.2em 0;
                }

                &__text {
                    padding: 1.8em 1.8em 2.2em;
                }
            }
        }
    }
}

//CONTACT 

.contact {
    &__title {
        font-size: 3.8rem;
    }

    &__container {
        &__box {
            &__image {

                &__heading {
                    padding: 1.8em 0;
                    font-size: 3.8rem;
                }

                &__text {
                    font-size: 2.2rem;

                    &__content {
                        padding: 2.2em 0;
                    }
                }
            }
        }
    }

}

//--------MEDIA--------

@media (min-width: 680px) {
    .header {
        &__box-one {
            &__title {
                font-size: 5.4rem;
            }

            &__text {
                font-size: 2.8rem;
            }
        }
    }

    .technologies {
        &__title {
            font-size: 3.8rem;
        }

        &__wrapper {
            &__container {
                width: 100vw;

                &__icon {
                    padding: .3em;
                    font-size: 11rem;
                }
            }
        }
    }

    .portfolio {
        &__container {
            &__left-box {
                &__content {
                    padding-bottom: 2em;

                    &__title {
                        padding: 1.4em 1.4em 0;
                    }

                    &__text {
                        padding: 2em 2em 2.8em;
                    }
                }
            }
        }
    }
}

@media (min-width: 700px) {
    .portfolio {
        &__container {
            padding-top: 1.6em;

            &__left-box {

                &__content {
                    &__title {
                        font-size: 3rem;
                    }

                    &__text {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}