@import './components';
@import './mixins';
@import './colors';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    background-color: $main-color;
}

.blue-color {
    color: $blue-color;
}


//NAV

.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 8px;
    }

    &:hover {

        .burger-btn__bars,
        .burger-btn__bars::after,
        .burger-btn__bars::before {
            width: 40px;
        }
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars,
    &__bars::after,
    &__bars::before {
        @include burgerBtn;
    }

    &__bars {
        width: 15px;

        &::after {
            top: 27px;
            width: 40px;
        }

        &::before {
            top: 13px;
            width: 25px;
        }

    }
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: $dark-color;
    z-index: 100;

    &--active {
        transform: translateX(0);
    }

    &__item {
        position: relative;
        display: block;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        font-size: 2.8rem;
        color: $menu-letters-color;
        text-decoration: none;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            transform: scaleY(0);
            background-color: $blue-color;
            transition: transform .3s;
            content: '';
        }

        &:hover::before {
            transform: scaleY(1);
        }
    }
}

@keyframes navItemsAnimation {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

//HEADER

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white-color;
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 2px;

    &__animation {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__box-one {
        text-align: center;
        z-index: 50;

        &__title {
            font-family: 'Poppins', sans-serif;
            font-size: 3rem;
        }

        &__text {
            font-size: 1.6rem;
        }
    }

    &__box-two {
        position: absolute;
        display: flex;
        bottom: 50px;
        z-index: 50;

        .fab {
            letter-spacing: .3em;
            color: $menu-letters-color;
            font-size: 2.6rem;
            transition: color .3s;
            transition: transform .5s;
        }

        .fab:hover {
            color: $blue-color;
            transform: scale(1.2, 1.2);
        }

        .fab:visited {
            color: $menu-letters-color;
        }
    }

    &__img-md {
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0;
        z-index: -10;
    }

    &__img-big {
        display: none;
    }

}

//ABOUT

.about {
    text-align: center;
    color: $white-color;

    &__title {
        padding-top: 3.4em;
        font-size: 3rem;
    }

    &__text {
        padding-top: .5em;
        font-size: 1.4rem;
    }

    &__wrapper {
        padding: 3em 1em;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;

        &__text {
            padding-top: 2em;
            font-weight: 300;

            &__one {
                font-size: 2rem;
            }

            &__two {
                padding-top: 1em;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }

        &__img {
            width: 270px;
        }
    }
}

.technologies {
    text-align: center;
    color: $white-color;

    &__title {
        padding: 1em 1em 0;
        font-size: 3rem;
    }

    &__wrapper {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $menu-letters-color;

        &__container {
            width: 90vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            &__icon {
                padding: .2em;
                font-size: 7rem;
            }
        }
    }
}

// PORTFOLIO

.portfolio {
    text-align: center;
    color: $white-color;

    &__title {
        padding-top: 3.4em;
        font-size: 3rem;
    }

    &__text {
        padding-top: .5em;
        font-size: 1.4rem;
    }

    &__container {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        // background-color: tomato;

        &__left-box {
            position: relative;
            margin: .6em;
            display: flex;
            flex-wrap: wrap;
            // background-color: royalblue;

            &__image {
                &__link {
                    &__img {
                        width: 100%;
                        height: 100%;
                    }

                    &__img-lg {
                        display: none;
                    }
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                background-color: $dark-color;

                &__title {
                    padding: .4em .4em 0;
                    text-align: left;
                    color: $blue-color;
                }

                &__text {
                    padding: .8em .8em 1.8em;
                    text-align: left;
                    font-size: 1.4rem;
                }

                &__btn {
                    align-self: center;
                    width: 120px;
                    margin-bottom: 20px;
                    padding: .5em 1em;
                    background: none;
                    border: 1px solid $blue-color;
                    text-decoration: none;
                    font-size: 1.4rem;
                    color: $blue-color;
                    cursor: pointer;
                    transition: background-color .3s;
                }

                &__btn:hover {
                    background-color: $blue-color;
                    color: $white-color;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-color;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: .1rem;
    color: $white-color;
}

//------MEDIA------- 

@media (min-width: 280px) {
    .technologies {
        &__wrapper {
            &__container {
                &__icon {
                    font-size: 8rem;
                }
            }
        }
    }
}


@media (min-width: 290px) {
    .header {
        &__box-one {
            &__title {
                font-size: 3.2rem;
            }

            &__text {
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 310px) {
    .about {
        &__wrapper {
            &__img {
                width: 300px;
            }
        }
    }

    .technologies {
        &__wrapper {
            &__container {
                &__icon {
                    font-size: 9.4rem;
                }
            }
        }
    }

    .portfolio {
        &__container {
            &__left-box {
                margin: .7em;

                &__content {
                    &__title {
                        padding: .6em .6em 0;
                    }

                    &__text {

                        padding: 1.1em 1.1em 1.8em;
                    }

                    &__btn {
                        margin-bottom: 2.3em;
                    }
                }
            }
        }
    }
}

@media (min-width: 370px) {
    .technologies {
        &__wrapper {
            &__container {
                &__icon {
                    font-size: 10.4rem;
                }
            }
        }
    }

    .portfolio {
        &__container {
            &__left-box {
                margin: .8em;

                &__content {
                    &__title {
                        padding: .7em .7em 0;
                    }

                    &__text {

                        padding: 1.3em 1.3em 2em;
                    }
                }
            }
        }
    }
}

@media (min-width: 400px) {
    .header {
        &__box-one {
            &__title {
                font-size: 4rem;
            }

            &__text {
                font-size: 2.1rem;
            }
        }
    }

    .about {
        &__title {
            font-size: 3.4rem;
        }

        &__text {
            padding-top: .5em;
            font-size: 1.6rem;
        }

        &__wrapper {
            &__text {
                padding-top: 2em;

                &__one {
                    font-size: 2.2rem;
                }

                &__two {
                    padding-top: 1.4em;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
            }

            &__img {
                width: 380px;
            }
        }
    }

    .technologies {
        &__title {
            font-size: 3.4rem;
        }

        &__wrapper {
            &__container {
                &__icon {
                    padding: .2em .3em;
                    font-size: 10.8rem;
                }
            }
        }
    }

    .portfolio {
        &__title {
            font-size: 3.4rem;
        }

        &__text {
            padding-top: .5em;
            font-size: 1.6rem;
        }

        &__container {
            &__left-box {
                margin: 1em;

                &__content {
                    &__title {
                        font-size: 2.8rem;
                        padding: .7em .7em 0;
                    }

                    &__text {
                        font-size: 1.6rem;
                        padding: 1.3em 1.3em 2em;
                    }

                    &__btn {
                        width: 150px;
                        margin-top: .6em;
                        margin-bottom: 2.8em;
                        padding: .6em 2em;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

}

@media (min-width: 465px) {
    .portfolio {
        &__container {
            margin-top: 3em;

            &__left-box {
                max-width: 433px;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 500px) {
    .header {
        &__box-one {
            &__title {
                font-size: 4.6rem;
            }

            &__text {
                font-size: 2.4rem;
            }
        }
    }

    .about {
        &__title {
            font-size: 3.6rem;
        }

        &__wrapper {
            padding: 0 2.2em;

            &__text {
                &__one {
                    font-size: 2.4rem;
                }

                &__two {
                    font-size: 1.8rem;
                }
            }

            &__img {
                padding-top: 3em;
                width: 420px;
            }
        }
    }

    .technologies {
        &__title {
            padding-top: 2.8em;
            font-size: 3.6rem;
        }

        &__wrapper {
            &__container {
                width: 70vw;

                &__icon {
                    font-size: 11.4rem;
                }
            }
        }
    }

    .portfolio {
        &__title {
            font-size: 3.6rem;
        }

        &__container {
            &__left-box {
                justify-content: center;

                &__content {

                    &__title {
                        padding: .9em .9em 0;
                    }

                    &__text {
                        padding: 1.5em 1.5em 2em;
                    }
                }
            }
        }

    }
}